.Container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.Left{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.Right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
    /* background-color: orange; */
}

.Right_left{
    height: 100%;
    width: 85%;
    /* background-color: lawngreen; */
}

.Right_left_Top{
    margin-left: 3px;
    height: 10%;
    display: flex;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.Name{
    margin-left: 5px;
    font-weight: 600;
}

.Right_left_Center{
    height: 70%;
    width: 100%;
    margin-top: 5px;
}

.CommentsContainer{
    width: 100%;
    height: 90%;
    border-top: 0.5px solid rgba(0, 0, 0, 0.055);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.055);
    overflow-y: auto;
}

.CommentsContainerCenter{
    width: 100%;
    height: 90%;
    border-top: 0.5px solid rgba(0, 0, 0, 0.055);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.055);
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* for making scroll bar hide  */
.CommentsContainer::-webkit-scrollbar {
    width: 0px;
    /* display: none; */
}

.CommentsContainer::-webkit-scrollbar-track {
    border-radius: 8px;
}

.CommentsContainer::-webkit-scrollbar-thumb {
    height: 0px;
    border-radius: 8px;
    border: 0px solid transparent;
    background-clip: content-box;
    background-color: rgba(136, 136, 136, 0);
}

.CommentsContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0);
}

.postActions{
    margin-top: 5px;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

.Right_left_Bottom{
    margin-top: 15px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.textBox{
    margin-right: 5px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 75%;
    padding: 5px;
    caret-color: rgba(0, 0, 0, 0.372);
}

.Right_Right{
    height: 100%;
    width: 15%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.Right_Right_Top{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.options_holder {
    position: absolute;
    border: 1px solid black;
    height: 35%;
    width: 15%;
    background-color: white;
    right: 26px;
    top: 26px;
    border: 1px solid #0000002c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    z-index: 10;
    border-radius: 2px;
}

.options {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    cursor: pointer;
}

.danger {
    color: red;
    font-weight: 600;
}

.leftIcons {
    margin-left: 15px;
    cursor: pointer;
}

.rightIcons {
    margin-right: 10px;
    cursor: pointer;
}

.Right_Right_Bottom{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


