.Container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Left{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.Right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
    background-color: orange;
}

.Right_left{
    height: 100%;
    width: 85%;
    background-color: lawngreen;
}

.Right_left_Top{
    margin-left: 3px;
    height: 10%;
    display: flex;
    align-items: center;
}

.Name{
    margin-left: 5px;
    font-weight: 600;
}

.Right_left_Center{
    height: 70%;
    width: 100%;
}

.CommentsContainer{
    width: 100%;
    height: 100%;
}

.Right_Right{
    background-color: red;
    height: 100%;
    width: 15%;
}

.Right_Right_Top{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.options_holder {
    position: absolute;
    border: 1px solid black;
    height: 35%;
    width: 15%;
    background-color: white;
    right: 26px;
    top: 26px;
    border: 1px solid #0000002c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    z-index: 10;
    border-radius: 2px;
}

.options {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    cursor: pointer;
}

.danger {
    color: red;
    font-weight: 600;
}

.leftIcons {
    margin-left: 15px;
    cursor: pointer;
}

.rightIcons {
    margin-right: 10px;
    cursor: pointer;
}

.Right_Right_Bottom{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


