/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

html , body{
  max-width: 100%;
  overflow-x: hidden;  
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pageGlobal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.full_page_center{
  height: 98vh;
  justify-content: center;
}