.title{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.pagecover{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.158);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.component{
    width: 46vw;
    height: 66vh;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

/* for making scroll bar hide  */
.component::-webkit-scrollbar {
    width: 16px;
    /* display: none; */
}

.component::-webkit-scrollbar-track {
    border-radius: 8px;
}

.component::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgba(136, 136, 136, 0);
}

.component::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0.758);
}


.btnHolder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}